html, body {
    margin:0px;
    height:100%;
    width: 100%;
}

.arrow_decoration{
    position: absolute;
    width: 50%;
    height: 100%;
    min-width: 700px;
    min-height: 700px;
    max-width: 900px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
}

.arrow_background{
    width: 0; 
    height: 0; 
    border-left: 200px solid transparent;
    border-right: 200px solid transparent; 
}

.forgot_password_authenticate{
    background: url("https://drive.google.com/uc?id=1-R5etBHJBcoThjLMBvTYmUMA0I5_vL_9") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 900px;
    min-width: 1200px;
    position: absolute;
    top: 0;
    left: 0;
}

.top, .bottom{
    border-top: 300px solid #51A8B1;
}

.middle {
    border-top: 300px solid #051D40;
}

.forgot_password_box{
    position: absolute;
    top: 20%;
    right: 0%;
    height: 35%;
    min-height: 400px;
    min-width: 650px;
    max-width: 1100px;
    width: 50%;
}

.forgot_password_container{
    width: 600px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 8px 5px 2px rgba(0,0,0,0.5);
    min-height: 400px;
    position: absolute;
}

#forgot_password_label{
    text-align: center;
    margin-top: 67px;
    font-size: xx-large;
    font-weight: 500;
}

.forgot_pass_box{
    margin-bottom: 10px;
    text-align: center;
    margin-right: 20px;
}

#email_forgot_input{
    margin-top: 5px;
    width: 300px;
    height: 70px;
    font-size: x-large;
}

.forgot_password_submission{
    margin-left: 148px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 45px;
    width: 155px;
    font-size: larger;
    background-color: #51A8B1;
    color: white;
    border-width: 1.5px;
    box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.35);
}

.forgot_password_submission:active{
    background-color: #40826d;
}

#email_forgot_alert{
    padding-left: 76.8px;
}