html, body {
    margin:0px;
    height:100%;
    width: 100%;
}

.arrow_decoration{
    position: absolute;
    width: 50%;
    height: 100%;
    min-width: 700px;
    min-height: 700px;
    max-width: 900px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
}

.arrow_background{
    width: 0; 
    height: 0; 
    border-left: 200px solid transparent;
    border-right: 200px solid transparent; 
}


.login_authenticate, .create_account_authenticate{
    background: url("https://drive.google.com/uc?id=1-R5etBHJBcoThjLMBvTYmUMA0I5_vL_9") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 900px;
    min-width: 1200px;
    position: absolute;
    top: 0;
    left: 0;
}

.top, .bottom{
    border-top: 300px solid #51A8B1;
}

.middle {
    border-top: 300px solid #051D40;
}

.sign_in_container, .create_container{
    width: 600px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 8px 5px 2px rgba(0,0,0,0.5);
    min-height: 700px;
    position: absolute;
}

.sign_in_box, .create_box{
    position: absolute;
    top: 3%;
    right: 0%;
    height: 94%;
    min-height: 850px;
    min-width: 650px;
    max-width: 1100px;
    width: 50%;
}

#create_account_link, #login_link{
    color: black;
    font-size: larger;
}

#forgot_password_link{
    color: black;
    font-size: large;
}

#sign_in_label{
    text-align: center;
    margin-top: 120px;
    font-size: xx-large;
    font-weight: 500;
}

#create_account_label{
    text-align: center;
    margin-top: 60px;
    font-size: xx-large;
    font-weight: 500;
}

#email_label, #password_label, #name_label, #birthdate_label, #password_reenter_label, #bname_label, #phone_number_label, #job_label{
    font-weight: 400;
}

.email_label_wrapper, .password_label_wrapper, .name_label_wrapper, .birthdate_label_wrapper, .password_reenter_label_wrapper, .bname_label_wrapper, .phone_number_label_wrapper, .job_label_wrapper{
    margin-top: 15px;
    margin-bottom: 5px;
}

.login_box > div > div > input, .create_account_box > div > div > input{
    width: 70%;
    min-width: 250px;
    font-size: larger;
}

#login_form, #create_account_form{
    margin-left: 110px;
    margin-right: 0;
}

.forgot_password_wrapper{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    text-align: end;
    margin-right: 141px;
}

.login_submission{
    margin-left: 111px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 45px;
    width: 155px;
    font-size: larger;
    background-color: #51A8B1;
    color: white;
    border-width: 1.5px;
    box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.35);
}


.create_account_submission{
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 45px;
    width: 155px;
    font-size: larger;
    background-color: #51A8B1;
    color: white;
    border-width: 1.5px;
    box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.35);
}
.login_submission:active, .create_account_submission:active{
    background-color: #40826d;
}

.create_wrapper{
    margin-left: 112px;
    width: auto;
}

.login_wrapper{
    margin-left: 145px;
    width: auto;
}

.arrow > a > img{
    height: 60px;
    width: 370px;
}

.arrow{
    margin-top: 70px;
}

.alert_text > span{
    color: red;
    font-weight: 500;
}

.create_account_box{
    max-height: 520px;
    overflow-y: auto;
}