.tool_container > ul > li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding-left: 80px;
    text-align: center;
}

.tool_container > ul > li > div > a > div > img{
    width: 120px;
    height: 120px;
}

.tool_container > ul{
    display: flex;
    justify-content: center;
}

.tool_container > ul > li > div > a{
    font-size: x-large;
    color: red;
}

.tool_container > .label_wrapper{
    font-size: xx-large;
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 0;
}
.temp_container{
    height: 306px;
}

